<div class="span3">
	<div class="well sidebar-nav">
		<div id="categoryapp"></div>
	</div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<%= render 'public/header' %>
<%
=begin%>
	<%= render 'public/books', :items => @items, :browse_node_id => @browse_node_id, :page => @page %>
<%
=end%>
	<div id="container">
		<nav id="page-nav"></nav>
	</div>
	
</div><!--/span-->