<div class="span3">
	<div class="well sidebar-nav">
		<div id="categoryapp"></div>
	</div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<%= render 'public/header' %>
	
	<div id="container">
	<% @items.each do |item| %>
	<div class="item">
		<%= book_image(item.get('MediumImage/URL'), item.get("DetailPageURL")) %>
	</div>	
	<% end %>
	</div>
	<nav id="page-nav"><%= link_to "", root_path(:bn => @browse_node_id, :page => @page+1) %></nav>
</div><!--/span-->